form {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	text-align: center;
	padding: 20px 0;
	background-color: grey;
	box-shadow: 5px 5px;
	border-radius: 5%;
	width: fit-content;
}
label {
	font-size: 20xp;
	margin-top: 10px;
	font-weight: bold;
}
input {
	margin: 10px 30px 0 30px;
	font-size: 15px;
	padding: 5px;
	border: none;
	border-radius: 2%;
}
button {
	margin: 10px;
	width: 150px;
	padding: 5px;
	font-weight: 500;
	border: none;
	border-radius: 10%;
	text-align: center;
	align-self: center;
	cursor: pointer;
}
.error {
	font-size: small;
	/* padding-top: 50px; */
	color: red;
}
